<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,72}</string>
                <key>spriteSourceSize</key>
                <string>{58,72}</string>
                <key>textureRect</key>
                <string>{{72,706},{58,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,72}</string>
                <key>spriteSourceSize</key>
                <string>{59,72}</string>
                <key>textureRect</key>
                <string>{{0,641},{59,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,71}</string>
                <key>spriteSourceSize</key>
                <string>{58,71}</string>
                <key>textureRect</key>
                <string>{{144,706},{58,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,60}</string>
                <key>spriteSourceSize</key>
                <string>{92,60}</string>
                <key>textureRect</key>
                <string>{{81,256},{92,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coupon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,82}</string>
                <key>spriteSourceSize</key>
                <string>{105,82}</string>
                <key>textureRect</key>
                <string>{{161,469},{105,82}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coupon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,90}</string>
                <key>spriteSourceSize</key>
                <string>{132,90}</string>
                <key>textureRect</key>
                <string>{{148,574},{132,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>coupon3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,85}</string>
                <key>spriteSourceSize</key>
                <string>{161,85}</string>
                <key>textureRect</key>
                <string>{{0,442},{161,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coupon4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,114}</string>
                <key>spriteSourceSize</key>
                <string>{116,114}</string>
                <key>textureRect</key>
                <string>{{0,527},{116,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coupon5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,116}</string>
                <key>spriteSourceSize</key>
                <string>{176,116}</string>
                <key>textureRect</key>
                <string>{{0,326},{176,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coupon6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,124}</string>
                <key>spriteSourceSize</key>
                <string>{149,124}</string>
                <key>textureRect</key>
                <string>{{81,0},{149,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,65}</string>
                <key>spriteSourceSize</key>
                <string>{67,65}</string>
                <key>textureRect</key>
                <string>{{72,641},{67,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,65}</string>
                <key>spriteSourceSize</key>
                <string>{68,65}</string>
                <key>textureRect</key>
                <string>{{176,401},{68,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cup_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{173,256},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{116,559},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_entry_stamps.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{0,706},{72,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_phone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,78}</string>
                <key>spriteSourceSize</key>
                <string>{62,78}</string>
                <key>textureRect</key>
                <string>{{176,323},{62,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{116,527},{32,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sign.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,132}</string>
                <key>spriteSourceSize</key>
                <string>{138,132}</string>
                <key>textureRect</key>
                <string>{{81,124},{138,132}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{326,81}</string>
                <key>spriteSourceSize</key>
                <string>{326,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{326,81}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{243,764}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3e000fec0f081f53d2bddb95c2be798:20f1af7085ce1f3e99f92cac5391fadc:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
