<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank_01_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{210,66},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_01_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{64,76}</string>
                <key>textureRect</key>
                <string>{{297,1},{64,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_01_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,76}</string>
                <key>spriteSourceSize</key>
                <string>{64,76}</string>
                <key>textureRect</key>
                <string>{{375,1},{64,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_01_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,68}</string>
                <key>spriteSourceSize</key>
                <string>{67,68}</string>
                <key>textureRect</key>
                <string>{{140,66},{67,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_02_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,68}</string>
                <key>spriteSourceSize</key>
                <string>{69,68}</string>
                <key>textureRect</key>
                <string>{{280,67},{69,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_02_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{63,71}</string>
                <key>textureRect</key>
                <string>{{151,1},{63,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_02_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,71}</string>
                <key>spriteSourceSize</key>
                <string>{63,71}</string>
                <key>textureRect</key>
                <string>{{224,1},{63,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_02_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,66}</string>
                <key>spriteSourceSize</key>
                <string>{68,66}</string>
                <key>textureRect</key>
                <string>{{1,65},{68,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_03_down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,66}</string>
                <key>spriteSourceSize</key>
                <string>{67,66}</string>
                <key>textureRect</key>
                <string>{{71,65},{67,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tank_03_left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_03_right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,73}</string>
                <key>spriteSourceSize</key>
                <string>{62,73}</string>
                <key>textureRect</key>
                <string>{{76,1},{62,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tank_03_up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,72}</string>
                <key>spriteSourceSize</key>
                <string>{69,72}</string>
                <key>textureRect</key>
                <string>{{351,67},{69,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tank.png</string>
            <key>size</key>
            <string>{452,137}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:137496df5791885ade1ebe4d526265bb:1f66a80ed2adb56d1082c6ddcc15dd5e:61f327f8e64f826627a60724782c709f$</string>
            <key>textureFileName</key>
            <string>tank.png</string>
        </dict>
    </dict>
</plist>
