<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_explain.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{181,48}</string>
                <key>spriteSourceSize</key>
                <string>{181,48}</string>
                <key>textureRect</key>
                <string>{{453,57},{181,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{453,99}</string>
                <key>spriteSourceSize</key>
                <string>{453,99}</string>
                <key>textureRect</key>
                <string>{{0,0},{453,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,57}</string>
                <key>spriteSourceSize</key>
                <string>{174,57}</string>
                <key>textureRect</key>
                <string>{{453,0},{174,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>text_icon.png</string>
            <key>size</key>
            <string>{634,105}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ee90b1447b2ab60fdb40a770adf3e2d:0704abfc9e3e62b7b8406d07db01a140:d20f7b47bf05acef9257d89c4617dc0f$</string>
            <key>textureFileName</key>
            <string>text_icon.png</string>
        </dict>
    </dict>
</plist>
