<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{632,607}</string>
                <key>spriteSourceSize</key>
                <string>{632,607}</string>
                <key>textureRect</key>
                <string>{{1295,0},{632,607}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{610,113}</string>
                <key>spriteSourceSize</key>
                <string>{610,113}</string>
                <key>textureRect</key>
                <string>{{1260,632},{610,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1334,78}</string>
                <key>spriteSourceSize</key>
                <string>{1334,78}</string>
                <key>textureRect</key>
                <string>{{0,782},{1334,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1332,43}</string>
                <key>spriteSourceSize</key>
                <string>{1332,43}</string>
                <key>textureRect</key>
                <string>{{0,860},{1332,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>content_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1295,572}</string>
                <key>spriteSourceSize</key>
                <string>{1295,572}</string>
                <key>textureRect</key>
                <string>{{0,0},{1295,572}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>content_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1260,84}</string>
                <key>spriteSourceSize</key>
                <string>{1260,84}</string>
                <key>textureRect</key>
                <string>{{0,572},{1260,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>content_bg4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1022,114}</string>
                <key>spriteSourceSize</key>
                <string>{1022,114}</string>
                <key>textureRect</key>
                <string>{{0,656},{1022,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>head_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,90}</string>
                <key>spriteSourceSize</key>
                <string>{90,90}</string>
                <key>textureRect</key>
                <string>{{1022,656},{90,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,10}</string>
                <key>spriteSourceSize</key>
                <string>{874,10}</string>
                <key>textureRect</key>
                <string>{{1920,0},{874,10}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>load_fg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{881,18}</string>
                <key>spriteSourceSize</key>
                <string>{881,18}</string>
                <key>textureRect</key>
                <string>{{1902,0},{881,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>msg_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,37}</string>
                <key>spriteSourceSize</key>
                <string>{651,37}</string>
                <key>textureRect</key>
                <string>{{1112,745},{651,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top_nb_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{282,55}</string>
                <key>spriteSourceSize</key>
                <string>{282,55}</string>
                <key>textureRect</key>
                <string>{{1334,782},{282,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{1930,903}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6363eae2264d8b2706bf874b187ed2d9:ba2aa50e72d70ec9be5ee2f54385f138:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
